trufflehog 
flake8
pylint
black
safety
pip-audit
bandit
mypy 
pyright
coverage
pytest 
pytest-cov
mutmut
snapshottest
schemathesis
chaostoolkit
coverage
pytest-cov
mutmut 
resource
snapshottest 
schemathesis
fastapi
uvicorn
python-jose
passlib[bcrypt]
pydantic
python-dotenv
sqlalchemy

